body {
  background: black;
}
pre {
  margin: auto;
   width: 40%;
   color: purple;
   padding: 10px;
}

.mierda1 {
  padding: 20px;
  border: solid 1px purple;
  margin: auto;
 margin-bottom: 1em;

}
p {
  font-family: monospace;
  color:purple;
  display: block;
}
h4 {
  color:purple;
}
a {
  text-decoration: none;
  color: purple;
  display: block;
  font-family: monospace;
}

.mail {
  text-decoration: underline;
}
.footer {
  text-align: center;
}
.mierda2 {
    display: block;
}