body {
  background: black;
}
pre {
  margin: auto;
   width: 40%;
   color: red;
   padding: 10px;
}

.mierda1 {
  padding: 20px;
  border: solid 1px red;
  margin: auto;
 margin-bottom: 1em;

}
p {
  font-family: monospace;
  color:red;
  display: block;
}
h4 {
  color:red;
}
a {
  display: block;
  text-decoration: none;
  color: red;
}
.mail {
  text-decoration: underline;

}
.footer {
  text-align: center;
}
.mierda2 {
    display: block;
}