body {
  background: black;
}
pre {
  margin: auto;
   width: 40%;
   color: blue;
   padding: 10px;
}

.mierda1 {
  padding: 20px;
  border: solid 1px blue;
  margin: auto;
 margin-bottom: 1em;

}
p {
  font-family: monospace;
  color:blue;
  display: block;
}
h4 {
  color:blue;
}
a {
  text-decoration: none;
  color: blue;
  display: block;
  font-family: monospace;
}

.mail {
  text-decoration: underline;
}
.footer {
  text-align: center;

}
.mierda2 {
    display: block;
}