body {
  background: black;
}
pre {
  margin: auto;
   width: 40%;
   color: #00cc00;
   padding: 10px;
}

.mierda1 {
  padding: 20px;
  border: solid 1px #00cc00;
  margin: auto;
 margin-bottom: 1em;


}
p {
  font-family: monospace;
  color:#00cc00;
  display: block;
}
h4 {
  color:#00cc00;
}
a {
  display: block;
}

a {
  text-decoration: none;
  color: #00cc00;
}
.mail {
  text-decoration: underline;
}
.footer {
  text-align: center;
}
.mierda2 {
    display: block;
}