* {
	font-family: Comic Sans MS;
}

html {
	overflow: hidden;
}

h1 {
	font-size: 30px;
	margin-top: 0px;
}

p {
	font-size: 18px;
	margin: 0 0 15px 0;
}

button {
	background-color: #0080ff;
	
	font-size: 25px;
	text-align: center;
	
	border: 1px solid black;
	border-radius: 5px;
}

#dlbtn {
	margin-top: auto;
	margin-bottom: 10px;
}

.container {
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	
	align-items: center;
	justify-content: center;
}

#content {
	z-index: 1;
	
	width: 40%;
	min-width: 400px;
	
	height: 300px;
	
	background-color: rgba(255, 255, 255, 0.9);
	
	border: 5px solid orange;
	border-radius: 24px;
	
	padding: 15px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.duane {
	position: absolute;
	bottom: 0px;
	z-index: 2;
}

#starfield {
	width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: black;
}